.App {
  text-align: center;
  font-family: Arial, sans-serif;
}
h1, h2 {
  color: #333;
}
input, button {
  margin: 5px;
  padding: 5px;
}
.stock-chart-container {
  height: 400px; /* Set desired height */
  width: 500px;  /* Set desired width (optional, adjust as needed) */
  margin-bottom: 20px; /* Optional: Space between charts */
}